:root {

    /*=========================================
                    COLORS
    =========================================*/

    --primary: #898062;
    --primary-hover: #735C00;
    --secondary: #FFF8E3;

    --heading: #2D2C27;
    --navbar-menu: #735C00;
    --text: #6D6840;
    --text-light: #848484;

    --body: #FFFBF8;
    --primary-border: rgba(137, 128, 98, .45);
    --white: #FFFFFF;
    --border: #CCCCCC;

    --btn-background : #7F8074;
    --badge-background : #E4F1FF;

    /* Pricing */
    --card-border-active: #735C00;
    --card-hover: #FDFBF6;

    --secondary-badge-color: #2A679E;

    /*=========================================
                    FONTS
    =========================================*/

    --font-body: "Inter", sans-serif;
    --font-heading: "Source Serif 4", serif;

    /*=========================================
                FONT WEIGHTS
    =========================================*/

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /*=========================================
                FONT SIZES
    =========================================*/

    --fs-5: 5px;
    --fs-6: 6px;
    --fs-7: 7px;
    --fs-8: 8px;
    --fs-9: 9px;
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-42: 42px;
    --fs-48: 48px;
    --fs-56: 56px;
    --fs-64: 64px;

    /*=========================================
                    SPACING
    =========================================*/

    --space-0: 0px;
    --space-5: 5px;
    --space-10: 10px;
    --space-15: 15px;
    --space-20: 20px;
    --space-25: 25px;
    --space-30: 30px;
    --space-35: 35px;
    --space-40: 40px;
    --space-50: 50px;
    --space-55: 55px;
    --space-60: 60px;
    --space-80: 80px;
    --space-90: 90px;
    --space-100: 100px;

    /*=========================================
                    LAYOUT
    =========================================*/

    --container: 1400px;
    --header-height: 90px;

    /*=========================================
                BORDER RADIUS
    =========================================*/

    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 18px;

    /*=========================================
                    SHADOWS
    =========================================*/

    --shadow-sm: 0 2px 10px rgba(0, 0, 0, .06);
    --shadow-md: 0 10px 30px rgba(0, 0, 0, .08);

    /*=========================================
                TRANSITIONS
    =========================================*/

    --transition: .3s ease;
    --transition: .35s cubic-bezier(.4, 0, .2, 1);

    /*=========================================
                    Z INDEX
    =========================================*/

    --z-header: 999;
    --z-dropdown: 1000;
    --z-overlay: 1100;
    --z-modal: 1200;

}